@media screen and (min-width: 2220px) {
    #tree-one {
        left: -400px;
    }

    #tree-two {
        right: -410px;
    }
}

@media screen and (min-width: 1920px) {
    #main #grass, #advantages, #stock, #recommendations, #bonus, #order {
        background-size: 100% 100%;
    }
}